.navigation {
  height: 60px;
  margin-bottom: -60px;
  position: relative;
  z-index: 2;

  a {
    color: white;
    font-family: 'IBM Plex Sans Condensed';
    font-size: 1.2em;
    padding: 20px 0 10px 0;
    position: relative;
    margin-left: 50px;
    text-decoration: none;
    text-transform: lowercase;

    &:first-child {
      margin: 0;
    }

    .deco {
      background-color: white;
      height: 3px;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: .3s all;
      width: 70%;
    }

    &:hover {
      .deco {
        width: 100%;
      }
    }

  }

  .main-container {
    height: 100%;
  }
  
  .flex {
    align-content: center;
  }
}